.texto-principal {
    padding-top: 50px;
    font-size: 50px;
    text-shadow: 1.2px 1.2px black;
}
.texto-abaixo {
    padding-top: 40px;
    text-shadow: 1px 1px black;
}

.brand-logo {
    font-size: 20px !important;
    max-height: 50px;
    margin-left: 20px;
}
.light{
    text-align: center;
}